@import "tailwindcss";

:root {
  --background: #f3f4f6; /* bg-gray-100 */
  --foreground: #111827; /* text-gray-900 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Forzar tema claro eliminando el media query de dark mode */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
